body {
    margin: 0 auto;
    width: 80%;
    background: #aa00ff;
}

h1 {
    text-align: center;
}

input, button {
    text-align: center;
}

ul {
    list-style: none;
}

.cold {
    color: blue;
}

.hot {
    color: red;
}

#container {
    margin: 10px auto;
    border: 3px solid black;
    border-radius: 10%;
    text-align: center;
}